<div class="two-dice">
  <div class="descr">
    <h1 class="descr__title">Два кубика</h1>
    <ul class="descr__list">
      <li class="descr__item">
        <span class="dice-item active" (click)="toggleActiveDice($event)">2</span>
      </li>
      <li class="descr__item">
        <span class="dice-item" (click)="toggleActiveDice($event)">3</span>
      </li>
      <li class="descr__item">
        <span class="dice-item" (click)="toggleActiveDice($event)">4</span>
      </li>
      <li class="descr__item">
        <span class="dice-item" (click)="toggleActiveDice($event)">5</span>
      </li>
      <li class="descr__item">
        <span class="dice-item" (click)="toggleActiveDice($event)">6</span>
      </li>
      <li class="descr__item">
        <span class="dice-item" (click)="toggleActiveDice($event)">7</span>
      </li>
      <li class="descr__item">
        <span class="dice-item" (click)="toggleActiveDice($event)">8</span>
      </li>
      <li class="descr__item">
        <span class="dice-item" (click)="toggleActiveDice($event)">9</span>
      </li>
      <li class="descr__item">
        <span class="dice-item" (click)="toggleActiveDice($event)">10</span>
      </li>
      <li class="descr__item">
        <span class="dice-item" (click)="toggleActiveDice($event)">11</span>
      </li>
      <li class="descr__item">
        <span class="dice-item" (click)="toggleActiveDice($event)">12</span>
      </li>
    </ul>
    <p class="small-text">Выберите сумму чисел</p>
  </div>
  <app-bets></app-bets>
</div>
