<section class="games">
  <div class="games__wrapper">
    <ul class="games__list">
      <li class="games__item">
        <a routerLink="game/coin" class="games__item-link">
          <img src="" alt="" class="games__item-img">
          <i class="fas fa-coins"></i>
          <h3 class="games__item-title">Монетка</h3>
          <p class="games__item-text">Орел или решка? 50 / 50</p>
          <p class="games__item-text">Выигрыш 1.98×</p>
        </a>
        <a routerLink="game/coin" class="games__item-play">Играть</a>
      </li>
      <li class="games__item">
        <a routerLink="game/dice" class="games__item-link">
          <img src="" alt="" class="games__item-img">
          <i class="fas fa-dice-two"></i>
          <h3 class="games__item-title">Кубик</h3>
          <p class="games__item-text">Ставки на грань, от 1 до 6</p>
          <p class="games__item-text">Выигрыш до 5.94×</p>
        </a>
        <a routerLink="game/dice" class="games__item-play">Играть</a>
      </li>
      <li class="games__item">
        <a routerLink="game/two-dice" class="games__item-link">
          <img src="" alt="" class="games__item-img">
          <i class="fas fa-dice"></i>
          <h3 class="games__item-title">Два кубика</h3>
          <p class="games__item-text">Ставки на сумму, от 2 до 12</p>
          <p class="games__item-text">Выигрыш до 35.64×</p>
        </a>
        <a routerLink="game/two-dice" class="games__item-play">Играть</a>
      </li>
      <li class="games__item">
        <a routerLink="game/etheroll" class="games__item-link">
          <img src="" alt="" class="games__item-img">
          <i class="fas fa-dice-d20"></i>
          <h3 class="games__item-title">Etheroll</h3>
          <p class="games__item-text">Любые шансы, от 1% до 97%</p>
          <p class="games__item-text">Выигрыш до 99×</p>
        </a>
        <a routerLink="game/etheroll" class="games__item-play">Играть</a>
      </li>
    </ul>
  </div>
</section>
