<section class="statistic">
  <div class="statistic__wrapper">
    <ul class="statistic__list">
      <li class="statistic__item statistic__item--rate">
        <p class="statistic__item-text">Ставки за сутки</p>
        <h3 class="statistic__item-big">
          555.55 ETH
        </h3>
        <p class="statistic__item-text">
          999 ставок
        </p>
      </li>
      <li class="statistic__item statistic__item--jackpot">
        <p class="statistic__item-text">Последний джекпот</p>
        <h3 class="statistic__item-big">
          1.09 ETH
        </h3>
        <p class="statistic__item-text">
          Выиграл oxer
        </p>
      </li>
      <li class="statistic__item statistic__item--players">
        <p class="statistic__item-text">Лучшие игроки за сутки</p>
        <ul class="statistic__players-list">
          <li class="statistic__players-item">
            <p>
              <img src="" alt="1">
              <a>{{ temporaryPlayer1 | shorten:5 }}</a>
            </p>
            <p>21 ETH</p>
          </li>
          <li class="statistic__players-item">
            <p>
              <img src="" alt="1">
              <a>{{ temporaryPlayer2 | shorten:5 }}</a>
            </p>
            <p>14 ETH</p>
          </li>
          <li class="statistic__players-item">
            <p>
              <img src="" alt="1">
              <a>{{ temporaryPlayer3 | shorten:5 }}</a>
            </p>
            <p>9 ETH</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
