.history {
  background-color: #303f69;
  box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.2);
  padding: 30px 15px;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &__title {
    margin: 0;
    font-size: 25px;
  }

  &__filter-button {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
  }
}

.content {
  font-size: 16px;

  &__header {
    margin-bottom: 10px;
    border-bottom: 1px solid #ffffff;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 3px;
    list-style: none;

    &--hover {
      cursor: pointer;
      &:hover {
        background-color: #4f5c7f;
      }
    }
  }

  &__item {

    display: flex;
    justify-content: space-between;

    &--player {
      width: 24%;
    }

    &--bet {
      width: 24%;
    }

    &--result {
      width: 28%;
    }

    &--jackpot {
      width: 19%;
    }
  }
}

.main {
  position: relative;
  max-height: 100px;
  overflow: auto;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 5px;
  }
}

.info {
  &__list {
    margin: 0;
    padding: 5px;
    list-style: none;
    background-color: #272e3f;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }
}

.hidden {
  display: none;
}

