<div class="sidenav">
  <mat-nav-list>
    <ul class="sidenav__list">
      <li class="sidenav__item" (click)="onCloseSidenav()">
        <a routerLink="" mat-list-item class="sidenav__link">
          <i class="fas fa-dice"></i>
          <span class="sidenav__caption">Игры</span>
        </a>
      </li>
      <li class="sidenav__item" (click)="onCloseSidenav()">
        <a routerLink="/faqs" mat-list-item class="sidenav__link">
          <i class="fas fa-question"></i>
          <span class="sidenav__caption">Частые вопросы</span>
        </a>
      </li>
      <li class="sidenav__item" (click)="onCloseSidenav()">
        <a mat-list-item class="sidenav__link">
          <i class="fab fa-telegram-plane"></i>
          <span class="sidenav__caption">Telegram</span>
        </a>
      </li>
      <li class="sidenav__item" (click)="onCloseSidenav()">
        <a mat-list-item class="sidenav__link">
          <i class="fab fa-twitter"></i>
          <span class="sidenav__caption">Twitter</span>
        </a>
      </li>
      <li class="sidenav__item" (click)="onCloseSidenav()">
        <a mat-list-item class="sidenav__link">
          <i class="far fa-envelope"></i>
          <span class="sidenav__caption">Email</span>
        </a>
      </li>
    </ul>
  </mat-nav-list>
</div>
