<footer class="footer">
  <div class="footer__wrapper">
    <ul class="footer__list">
      <li class="footer__item">
        <h4 class="footer__list-subtitle">Наши игры</h4>
      </li>
      <li class="footer__item"><a class="footer__link">Монетка</a></li>
      <li class="footer__item"><a class="footer__link">Кубик</a></li>
      <li class="footer__item"><a class="footer__link">Два кубика</a></li>
      <li class="footer__item"><a class="footer__link">Etheroll</a></li>
    </ul>
    <ul class="footer__list">
      <li class="footer__item">
        <h4 class="footer__list-subtitle">Блокчейн</h4>
      </li>
      <li class="footer__item"><a class="footer__link">Баланс ...</a></li>
      <li class="footer__item"><a class="footer__link">Сеть: Main net</a></li>
      <li class="footer__item"><a class="footer__link">Смарт-контракт</a></li>
    </ul>
    <ul class="footer__list">
      <li class="footer__item">
        <h4 class="footer__list-subtitle">Мы знамениты</h4>
      </li>
      <li class="footer__item"><a class="footer__link">Github</a></li>
      <li class="footer__item"><a class="footer__link">State-of-the DApps</a></li>
      <li class="footer__item"><a class="footer__link">DappRader</a></li>
      <li class="footer__item"><a class="footer__link">Bloomberg</a></li>
    </ul>
    <ul class="footer__list">
      <li class="footer__item">
        <h4 class="footer__list-subtitle">Обратная связь</h4>
      </li>
      <li class="footer__item"><a class="footer__link">Телеграм</a></li>
      <li class="footer__item"><a class="footer__link">Твиттер</a></li>
      <li class="footer__item"><a class="footer__link">Электронная почта</a></li>
      <li class="footer__item"><a class="footer__link">Правила оказания услуг</a></li>
    </ul>
  </div>
</footer>
