<section class="faqs">
  <div class="faqs__wrapper">
    <h3 class="faqs__subtitle">
      Что означает термин "доказуемая честность"?
    </h3>
    <p class="faqs__text">
      Простыми словами,
      <a class="faqs__link" target="_blank"
         href="https://en.wikipedia.org/wiki/Provably_fair">доказуемая честность</a>
      означает, что исход любой ставки можно подвергнуть независимой проверке; а также то,
      что не существует способа повлиять на результат ни со стороны игроков, ни со стороны оператора.
    </p>
    <h3 class="faqs__subtitle">Является ли
      <a class="faqs__link">loftchain.games</a>
      "доказуемо честным"?
    </h3>
    <p class="faqs__text">Конечно. Весь игровой процесс контролируется
      <a class="faqs__link" target="_blank"
         href="https://en.wikipedia.org/wiki/Ethereum#Smart_contracts">смарт-контрактом</a>
      Ethereum, который вычисляет случайные числа на основании данных оператора и состояния блокчейна
      (хешей блоков). Кто угодно может произвести аудит исходного кода контракта, а также проверить каждую
      транзакцию в блокчейне, дабы убедиться, что ни dice2.win, ни злонамеренные игроки не влияют на исходы ставок.
    </p>
    <h3 class="faqs__subtitle">
      В чем ваше отличие от других подобных сайтов?
    </h3>
    <p class="faqs__text">Комиссии
      <a class="faqs__link" href="/">loftchain.games</a>
      гораздо меньше чем у конкурентов, что дает возможность делать ставки много меньшего размера −
      вплоть до 0.01 ETH. Наши игры просты и понятны - как бросок монеты или кубика.
    </p>
    <p class="faqs__text">
      Ну и конечно же, у нас есть джекпот!
    </p>
    <h3 class="faqs__subtitle">
      В чем подвох? Объясните, как это работает
    </h3>
    <p class="faqs__text">
      Ну, нам придется немного углубиться в технические детали:
    </p>
    <ul class="faqs__sublist">
      <li class="faqs__sublist-item">
        loftchain.games загадывает число и отправляет вам его
        <a class="faqs__link" target="_blank"
           href="https://en.wikipedia.org/wiki/Cryptographic_hash_function">хэш</a>
      </li>
      <li class="faqs__sublist-item">
        Вы отправляете транзакцию с вашей ставкой и хэшом числа из предыдущего шага.
      </li>
      <li class="faqs__sublist-item">
        Заметьте, что dice2.win уже "подписался" под это число, еще до вашей ставки.
      </li>
      <li class="faqs__sublist-item">
        Когда транзакция подтверждается сетью, смарт-контракт запоминает детали ставки и хэш числа.
      </li>
      <li class="faqs__sublist-item">
        Наш бот-крупье "вскрывает" загаданное число, отправляя его отдельной транзакцией.
      </li>
      <li class="faqs__sublist-item">
        Смарт-контракт принимает транзакцию тогда и только тогда, когда хэш присланного числа совпадает
        с запомненным.
      </li>
      <li class="faqs__sublist-item">
        Смарт-контракт "смешивает" число и хэш блока ставки, чтобы получить случайное число.
      </li>
      <li class="faqs__sublist-item">
        Полученное число используется для определения исхода ставки. В случае выигрыша, смарт-контракт
        отправляет вам Эфир.
      </li>
    </ul>
    <p class="faqs__text">
      Может ли dice2.win влиять на исход? Нет, так как контракт запоминает хэш числа, а значит,
      dice2.win не может поменять его впоследствии. "Смешивание" числа с хэшом блока делает невозможным влияние
      на результат со стороны майнеров.    С другой стороны, dice2.win не может влиять на результат
      (несмотря на то, что числа генерируются нашим сервером), так как мы не можем предсказывать хэши блоков.
      Все описанное выше - это хорошо известная
      <a target="_blank"
         href="https://en.wikipedia.org/wiki/Commitment_scheme">"commitment scheme"</a>,
      благодаря которой dice2.win предоставляет высококачественный генератор случайных чисел, позволяющий
      играть по-крупному, поддерживать джекпот и при этом сохранять прозрачность.
    </p>
    <h3 class="faqs__subtitle">А что если я <strong>очень</strong> хочу убедиться, что это все правда?</h3>
    <p class="faqs__text">Нет проблем, взгляните на исходный код нашего смарт-контракта - он доступен на
      <a target="_blank" href="https://github.com/">Github</a>.
      Ну а если останутся вопросы, добро пожаловать к нам в
      <a target="_blank" href="#">Telegram</a>,
      <a target="_blank" href="#">Twitter</a> или
      <a target="_blank" href="#">e-mail</a>.
    </p>
    <h3 class="faqs__subtitle">Каков размер вашей комиссии?</h3>
    <p class="faqs__text">
      Мы берем 1% с каждой ставки (но не менее чем 0.0003 ETH), чтобы поддерживать работу серверов и инженеров,
      а также переводим 0.001 ETH в джекпот для ставок от 0.1 ETH (эти ставки автоматически участвуют
      в розыгрыше джекпота!)
    </p>
    <h2 class="faqs__final-title">Удачной игры</h2>
  </div>
</section>
